* {
    font-family: "Inter", sans-serif;
}

.hero {
    background-color: #710E92;
}

.hero-text {
    font-size: 184px;
    color: white;
    letter-spacing: 15px;
}

.play--descriptor-label {
  font-size: 5rem !important;
  width: 850px;
  background-color: #2C2C2C !important;
}

.how--to--play-label {
  font-size: 2.5rem !important;
  width: 850px;
  background-color: #2C2C2C !important
}

.how-to-play-text {
  font-size: 1.4rem;
}

.option--radio {
  display: none;
}
.question--container {
  display: flex;
}
.option--label {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  background-color: #2C2C2C;
  padding-inline: 30px;
  padding-block: 5px;
  margin: 10px;
  border-radius: 8px;
  border-color: #000000;
  border-style: solid;
  border-width: 4px;
  transition: all 0.2s;
}

.option--label-selected {
    background-color: #439800;
    border-color: #027200;
}

.option--descriptor {
  font-size: 48px;
}